.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

.header__left span {
    font-size: 20px;
    font-weight: 600;
}

.header__middle-text h3{
    margin: 0;
}

.rate {
    display: flex;
    gap: 15px;
}

.rate p {
    margin-top: 5px;
    margin-bottom: 0;
}

.rate span {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .header__left {
      display: none;
    }

    .header__right {
      display: none;
    }
}